# Django
Django==5.0.1
django-environ==0.11.2
django-cors-headers==4.3.1

# Django REST Framework
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.27.0

# Database
psycopg[binary]==3.1.18
dj-database-url==2.1.0

# Caching & Tasks
# redis==5.0.1
# celery==5.3.4
# django-redis==5.4.0

# Payment
stripe==7.9.0

# Utilities
python-decouple==3.8
django-filter==23.5

# Production
gunicorn==21.2.0
whitenoise==6.6.0
